<%- model_class = Point -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:member_id) %></th>
      <th><%= model_class.human_attribute_name(:point) %></th>
    </tr>
  </thead>
  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.member.name %></td>
        <td><%= point.value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
